<div class="container">
<h1>My Builds</h1>
<ng-container>
    <p>
    Here are your builds
    
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Build no.</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    <a [routerLink]="'#'">
                        View
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>  
            </tr>
        </tfoot>
    </table>

    </ng-container>
</div>
