<div class="container1">
    Some of our system builds    
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light shadow-sm p-3 mb-5 rounded">
    
    <div class="container2">
        <p style="float: left;"><img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Avant-Tower-Gaming-PC.png" height="400px" width="300px" class="img-fluid" alt="Responsive image"></p>
        <h1 class="display-4 fw-normal">Best Gaming PC for under £300 ($400)</h1>
        <p class="lead fw-normal" style="text-align: justify;">The integrated graphics of the AMD Ryzen 3 3400G provides enough performance for some basic gaming while also delivering quad-core CPU performance. Needs a micro-ATX or ATX case. We recommend a 350W 80 Plus power supply.</p>
        <h3 class="display-5 fw-normal" style="text-align: center;">Components</h3>

            <table class="center"><thead>
                <tr>
                <th>Component</th>
                <th>Name</th>
                <th>Supplier</th>
                <th>Price</th>
                </tr>
                </thead><tbody>
                <tr>
                <td><strong>CPU</strong></td>
                <td>AMD Ryzen 5 3400G</td>
                <td>Amazon</td>
                <td>£129</td>
                </tr>
                <tr>
                <td><strong>CPU cooler</strong></td>
                <td>AMD Wraith air cooler included with CPU</td>
                <td>N/A</td>
                <td>N/A</td>
                </tr>
                <tr>
                <td><strong>GPU</strong></td>
                <td>AMD Radeon RX Vega 11 integrated into CPU</td>
                <td>N/A</td>
                <td>N/A</td>
                </tr>
                <tr>
                <td><strong>Memory</strong></td>
                <td>16GB (2 x 8GB) Corsair Vengeance LPX 3200MHz</td>
                <td>Scan</td>
                <td>£70</td>
                </tr>
                <tr>
                <td><strong>Motherboard</strong></td>
                <td>Asus TUF B450M-Plus Gaming (micro-ATX)</td>
                <td>Scan</td>
                <td>£79</td>
                </tr>
                <tr>
                <td><strong>Storage</strong></td>
                <td>500GB WD Blue SN550 (M.2 NVMe)</td>
                <td>Amazon</td>
                <td>£58</td>
                </tr>
                <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td><strong>£351</strong></td>
                </tr>
                </tbody></table>

    </div>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light shadow-sm p-3 mb-5 rounded">
    
    <div class="container2">
        <p style="float: right;"><img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Pc_Gaming_Modificado.jpg" height="500px" width="400px" class="img-fluid" alt="Responsive image"></p>
        <h1 class="display-4 fw-normal">Best Gaming PC for under £600 ($800)</h1>
        <p class="lead fw-normal" style="text-align: justify;">This quad-core PC provides enough performance for entry level gaming. Needs an ATX case with room for a 150mm-tall air cooler. We recommend a 450W 80 Plus Bronze power supply.</p>
        <h3 class="display-5 fw-normal" style="text-align: center;">Components</h3>

            <table class="center"><thead>
                <tr>
                <th>Component</th>
                <th>Name</th>
                <th>Supplier</th>
                <th>Price</th>
                </tr>
                </thead><tbody>
                <tr>
                <td><strong>CPU</strong></td>
                <td>AMD Ryzen 3 3300X</td>
                <td>Amazon</td>
                <td>£120</td>
                </tr>
                <tr>
                <td><strong>CPU cooler</strong></td>
                <td>ARTIC Freezer 7 X (air cooler)</td>
                <td>Amazon</td>
                <td>£18</td>
                </tr>
                <tr>
                <td><strong>GPU</strong></td>
                <td>PowerColor Radeon RX 5600 XT</td>
                <td>CCL</td>
                <td>£253</td>
                </tr>
                <tr>
                <td><strong>Memory</strong></td>
                <td>16GB (2 x8 GB) Corsair Vengeance LPX Pro 3200MHz</td>
                <td>Scan</td>
                <td>£70</td>
                </tr>
                <tr>
                <td><strong>Motherboard</strong></td>
                <td>Asus TUF B450M-Plus Gaming (micro-ATX)</td>
                <td>CCLonline</td>
                <td>£79</td>
                </tr>
                <tr>
                <td><strong>Storage</strong></td>
                <td>WD Blue SN500 NVMe 500GB (M.2 NVMe)</td>
                <td>Ebuyer</td>
                <td>£58</td>
                </tr>
                <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td><strong>£608</strong></td>
                </tr>
            </tbody></table>
            
    </div>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light shadow-sm p-3 mb-5 rounded">
    
    <div class="container2">
        <p style="float: right;"><img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Quad-GeForce-GTX-Titan-Black-Ultimate-GPU-Gaming-Computer.png" height="500px" width="400px" class="img-fluid" alt="Responsive image"></p>
        <h1 class="display-4 fw-normal">Best 4K Gaming PC for under £2500 ($3000)</h1>
        <p class="lead fw-normal" style="text-align: justify;">This quad-core PC provides enough performance for entry level gaming. Needs an ATX case with room for a 150mm-tall air cooler. We recommend a 450W 80 Plus Bronze power supply.</p>
        <h3 class="display-5 fw-normal" style="text-align: center;">Components</h3>

            <table class="center"><thead>
                <tr>
                <th>Component</th>
                <th>Name</th>
                <th>Supplier</th>
                <th>Price</th>
                </tr>
                </thead><tbody>
                <tr>
                <td><strong>CPU</strong></td>
                <td>AMD Ryzen 9 5900X</td>
                <td>Overclockers</td>
                <td>£560</td>
                </tr>
                <tr>
                <td><strong>CPU cooler</strong></td>
                <td>Corsair H100i Pro RGB (240mm AIO liquid cooler)</td>
                <td>CCLonline</td>
                <td>£120</td>
                </tr>
                <tr>
                <td><strong>GPU</strong></td>
                <td>Nvidia GeForce RTX 2080 Ti</td>
                <td>Scan</td>
                <td>£1040</td>
                </tr>
                <tr>
                <td><strong>Memory</strong></td>
                <td>16GB (2 x 8GB) Corsair Vengeance RGB Pro 3600MHz</td>
                <td>Scan</td>
                <td>£81</td>
                </tr>
                <tr>
                <td><strong>Motherboard</strong></td>
                <td>MSI Prestige X570 Creation (E-ATX)</td>
                <td>Overclockers</td>
                <td>£440</td>
                </tr>
                <tr>
                <td><strong>Storage</strong></td>
                <td>1TB Corsair MP600 (M.2 NVMe)</td>
                <td>Amazon</td>
                <td>£197</td>
                </tr>
                <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td><strong>£2,306</strong></td>
                </tr>
            </tbody></table>
            
    </div>
</div>
