<div class="content">
    <div class="card category required">
        <div class="card-body">
            <h5 class="card-title text-center">CPU</h5>
            <a href="#" class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    add
                </span>
                Pick CPU
            </a>
        </div>
    </div>
    <div class="card category required">
        <div class="card-body">
            <h5 class="card-title text-center">Motherboard</h5>
            <a href="#" class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    add
                </span>
                Pick Motherboard
            </a>
        </div>
    </div>
    <div class="card category required">
        <div class="card-body">
            <h5 class="card-title text-center">Memory</h5>
            <a href="#" class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    add
                </span>
                Pick Memory
            </a>
        </div>
    </div>
    <div class="card category required">
        <div class="card-body">
            <h5 class="card-title text-center">Storage</h5>
            <a href="#" class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    add
                </span>
                Pick Storage
            </a>
        </div>
    </div>
    <div class="card category required">
        <div class="card-body">
            <h5 class="card-title text-center">GPU</h5>
            <a href="#" class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    add
                </span>
                Pick GPU
            </a>
        </div>
    </div>
    <div class="card category required">
        <div class="card-body">
            <h5 class="card-title text-center">Case</h5>
            <a href="#" class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    add
                </span>
                Pick Case
            </a>
        </div>
    </div>
    <div class="card category required">
        <div class="card-body">
            <h5 class="card-title text-center">PSU</h5>
            <a href="#" class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    add
                </span>
                Pick PSU
            </a>
        </div>
    </div>
    <div class="card category not-required">
        <div class="card-body">
            <h5 class="card-title text-center">CPU Cooler</h5>
            <a href="#" class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    add
                </span>
                Pick CPU Cooler
            </a>
        </div>
    </div>
    <div class="card category not-required">
        <div class="card-body">
            <h5 class="card-title text-center">Other</h5>
            <a href="#" class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    add
                </span>
                Pick Other
            </a>
        </div>
    </div>
</div>