<div class="content">
    <app-configurator-product [name]="'CPU'" [link]="'/cpus'">
        <div *ngIf="buildService.build.cpu" class="extra">
            <p class="text-center">
                <a [routerLink]="['/cpu', buildService.build.cpu.id]">{{ buildService.build.cpu.name }}</a> - {{ pricesService.getLowest(buildService.build.cpu.prices).price }} ({{ pricesService.getLowest(buildService.build.cpu.prices).seller }})
            </p>
            <a 
                (click)="buildService.removeCPU()"
                class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    remove
                </span>
                Remove CPU
            </a>
        </div>  
    </app-configurator-product>

    <app-configurator-product [name]="'Motherboard'" [link]="'/motherboards'">
        <div *ngIf="buildService.build.motherboard" class="extra">
            <p class="text-center">
                <a [routerLink]="['/motherboard', buildService.build.motherboard.id]">{{ buildService.build.motherboard.name }}</a> - {{ pricesService.getLowest(buildService.build.motherboard.prices).price }} ({{ pricesService.getLowest(buildService.build.motherboard.prices).seller }})
            </p>
            <a 
                (click)="buildService.removeMotherboard()"
                class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    remove
                </span>
                Remove Motherboard
            </a>
        </div>
    </app-configurator-product>

    <app-configurator-product [name]="'Memory'" [link]="'/memories'">
        <div *ngIf="buildService.build.memory.length >= 1" class="extra">
            <p *ngFor="let mem of buildService.build.memory" class="text-center">
                <a [routerLink]="['/memory', mem.id]">{{ mem.name }}</a> - {{ pricesService.getLowest(mem.prices).price }} ({{ pricesService.getLowest(mem.prices).seller }})
            </p>
            <a 
                (click)="buildService.clearMemory()"
                class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    remove
                </span>
                Remove Memory
            </a>
        </div>
    </app-configurator-product>

    <app-configurator-product [name]="'Storage'" [link]="'/storages'">
        <div *ngIf="buildService.build.storage.length >= 1" class="extra">
            <p *ngFor="let sto of buildService.build.storage" class="text-center">
                <a [routerLink]="['/storage', sto.id]">{{ sto.name }}</a> - {{ pricesService.getLowest(sto.prices).price }} ({{ pricesService.getLowest(sto.prices).seller }})
            </p>
            <a 
                (click)="buildService.clearStorage()"
                class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    remove
                </span>
                Remove Storage
            </a>
        </div>
    </app-configurator-product>

    <app-configurator-product [name]="'GPU'" [link]="'/gpus'">
        <div *ngIf="buildService.build.gpu" class="extra">
            <p *ngIf="buildService.build.gpu" class="text-center">
                <a [routerLink]="['/gpu', buildService.build.gpu.id]">{{ buildService.build.gpu.name }}</a> - {{ pricesService.getLowest(buildService.build.gpu.prices).price }} ({{ pricesService.getLowest(buildService.build.gpu.prices).seller }})
            </p>
            <a 
                (click)="buildService.removeGPU()"
                class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    remove
                </span>
                Remove GPU
            </a>
        </div>
    </app-configurator-product>

    <app-configurator-product [name]="'Case'" [link]="'/cases'">
        <div *ngIf="buildService.build._case" class="extra">
            <p *ngIf="buildService.build._case" class="text-center">
                <a [routerLink]="['/case', buildService.build._case.id]">{{ buildService.build._case.name }}</a> - {{ pricesService.getLowest(buildService.build._case.prices).price }} ({{ pricesService.getLowest(buildService.build._case.prices).seller }})
            </p>
            <a 
                (click)="buildService.removeCase()"
                class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    remove
                </span>
                Remove Case
            </a>
        </div>
    </app-configurator-product>

    <app-configurator-product [name]="'PSU'" [link]="'/psus'">
        <div *ngIf="buildService.build.psu" class="extra">
            <p *ngIf="buildService.build.psu" class="text-center">
                <a [routerLink]="['/psu', this.buildService.build.psu.id]">{{ buildService.build.psu.name }}</a> - {{ pricesService.getLowest(buildService.build.psu.prices).price }} ({{ pricesService.getLowest(buildService.build.psu.prices).seller }})
            </p>
            <a 
                (click)="buildService.removePSU()"
                class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    remove
                </span>
                Remove PSU
            </a>
        </div>
    </app-configurator-product>

    <app-configurator-product [name]="'CPU Cooler'" [link]="'/coolers'">
        <div *ngIf="buildService.build.cooler" class="extra">
            <p *ngIf="buildService.build.cooler" class="text-center">
                <a [routerLink]="['/cooler', this.buildService.build.cooler.id]">{{ buildService.build.cooler.name }}</a> - {{ pricesService.getLowest(buildService.build.cooler.prices).price }} ({{ pricesService.getLowest(buildService.build.cooler.prices).seller }})
            </p>
            <a 
                (click)="buildService.removeCooler()"
                class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    remove
                </span>
                Remove Cooler
            </a>
        </div>
    </app-configurator-product>


    <app-configurator-product [name]="'Other'" [link]="'/others'">
        <div *ngIf="buildService.build.others.length >= 1" class="extra">
            <p *ngFor="let oth of buildService.build.others" class="text-center">
                <a [routerLink]="['/other', oth.id]">{{ oth.name }}</a> - {{ pricesService.getLowest(oth.prices).price }} ({{ pricesService.getLowest(oth.prices).seller }})
            </p>
            <a 
                (click)="buildService.clearOthers()"
                class="btn btn-primary btn-block">
                <span class="material-icons align-text-bottom">
                    remove
                </span>
                Remove Other
            </a>
        </div>
    </app-configurator-product>
   
<div class="errorContainer text-center" *ngIf="buildErrors">
    <div class="error" *ngFor="let error of buildErrors">
        {{ error.message }}
        
    </div>
</div>
<div class="container"> 
    <button *ngIf="authService.loginStatus()" [disabled]="buildErrors.length != 0 || ((authService.loginStatus() | async) == null)" (click)="buildService.saveBuild(buildService.build)" class="btn btn-primary btn-block">
        Submit
    </button> 
</div>