.content {
    margin: auto;
    max-width: 60rem;
}

app-configurator-product {
    border-radius: 0%;
}
.container{
    padding-top: 10px;
    margin: auto;
    width: 400px;
    max-width: 100rem;
    margin-bottom: 15px;

}

.extra {
    padding-bottom: 10px;
}
.error{
    color: red;
    padding: 5px;
    
}
.errorContainer{
    padding-top: 10px;
    padding-bottom: 10px;
}