.content {
    margin: auto;
    max-width: 60rem;
}

app-configurator-product {
    border-radius: 0%;
}
.container{
    padding-top: 10px;
    margin: auto;
    width: 400px;
    max-width: 100rem;

}

.extra {
    padding-bottom: 10px;
}