<div class="container1">
  How to build a PC?      
</div>
  

<div class="container">
  <div class="shadow-sm p-3 mb-5 bg-white rounded">
      <div class="container2">
      First of all... You need some skills!
      </div>
  <br>
  <p style="font-size:2.5vw;">
      Assembling a PC is like assembling lego parts. But you have to be more vigilent, because you can "harm" the fragile parts. Armed with courage you can start to look after components. Here are some basic components. Without these, you can't build your dream PC.
  </p>
    </div>
  <div class="row">
  
    <div class="col-md-4 bg-white rounded shadow-sm p-3 ">
      
        <img src="https://pixnio.com/free-images/2017/03/07/2017-03-07-06-43-42.jpg" class="img-fluid" alt="Responsive image">
        <h2>Motherboard</h2>
        <p >It is the main printed circuit board (PCB) in general-purpose computers and other expandable systems. It holds and allows communication between many of the crucial electronic components of a system, such as the central processing unit (CPU) and memory, and provides connectors for other peripherals.  </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      
    </div>
    <div class="col-md-4 bg-white rounded shadow-sm p-3">
      
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Intel_CPU_Core_i7_6700K_Skylake_perspective.jpg" class="img-fluid" alt="Responsive image">
      <h2>CPU</h2>
      <p>It is the electronic circuitry within a computer that executes instructions that make up a computer program. The CPU performs basic arithmetic, logic, controlling, and input/output (I/O) operations specified by the instructions in the program. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4 bg-white rounded shadow-sm p-3 ">
      <img src="https://cdn.pixabay.com/photo/2019/08/08/16/55/ram-4393379_1280.jpg" class="img-fluid" alt="Responsive image">  
      <h2>Memory</h2>
      <p>Adding memory (RAM) is one of the fastest, easiest, and most affordable ways to amplify the performance of the computer you’re building because it gives your system more available space to temporarily store data that’s being used.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4 bg-white rounded shadow-sm p-3 ">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Intel_X25-M_Solid-State_Drive.jpg" class="img-fluid" alt="Responsive image">
      <h2>Storage</h2>
      <p>Your files and data are saved long-term on your storage drive. This data is held on either a hard disk drive (HDD) or solid state drive (SSD). Although hard drives generally give you more storage space (in GB), SSDs have essentially made them outdated – SSDs are on average 6x faster1 and 90x more energy-efficient2 than hard drives.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4 bg-white rounded shadow-sm p-3 ">
      <img src="https://cdn.pixabay.com/photo/2017/04/04/17/23/nvidia-2202279__340.jpg" class="img-fluid" alt="Responsive image">
      <h2>Graphic Card</h2>
      <p>It is an expansion card which generates a feed of output images to a display device (such as a computer monitor). Frequently, these are advertised as discrete or dedicated graphics, emphasizing the distinction between these and integrated graphics.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4 bg-white rounded shadow-sm p-3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/OCZ_600W_power_supply_unit.JPG" class="img-fluid" alt="Responsive image">
      <h2>Power Supply</h2>
      <p>Most modern desktop personal computer power supplies conform to the ATX specification, which includes form factor and voltage tolerances. While an ATX power supply is connected to the mains supply, it always provides a 5-volt standby (5VSB) power so that the standby functions on the computer and certain peripherals are powered. ATX power supplies are turned on and off by a signal from the motherboard.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

