.container1{
    background: #03506f;
    text-align: center;
    color: #ffe3d8;
    
}

.container2{
    text-align: center;
    color: black;
}
.container{
    background-color: #03506f;
    
}
@media screen and (min-width: 601px) {
    .container1 {
      font-size: 80px;
    }
    .container2{
        font-size: 60px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container1 {
      font-size: 30px;
    }
    .container2{
        font-size: 20px;
    }
  }
.img-fluid{
    max-width: 100%;
    height: auto;
}
.container3{
    text-align: justify;
    padding-right: 10px;
}
.row{
    padding: 10px;
    
}
.col-md-4{
    border-style: solid;
    
}

